
<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
    <%- include('includes/header') %>

    <main>
        <h2>Welcome to your dashboard</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore dolores corporis dignissimos? Explicabo modi delectus nemo ab vel quae, odit, itaque necessitatibus eaque, harum labore quos nostrum illum praesentium alias!            
        </p>
    </main>
    <%- include('includes/footer') %>
</body>
</html>