
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h2><a href="/homepage">Our wonderful App</a></h2>
        <nav>
            <a href="#">Log In</a>
        </nav>
    </header>

    <main>
        <h3>Hello this is from Login Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi labore reiciendis impedit eum eos sit quod unde aperiam dolore minima, doloremque eligendi ratione culpa soluta hic explicabo nihil? Sequi, architecto!           
        </p>
    </main>
    <footer>
        <small>&copy our wonderfull app</small>
    </footer>
</body>
</html>