
<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
    <%- include('includes/header') %>

    <main>
        <h3>Hello this is from Login Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi labore reiciendis impedit eum eos sit quod unde aperiam dolore minima, doloremque eligendi ratione culpa soluta hic explicabo nihil? Sequi, architecto!           
        </p>
    </main>
    <%- include('includes/footer') %>
</body>
</html>